<main [ngClass]="bgClass || 'book'">
    <section>
    <ul
    (mousedown)="mouseDownHandler()"
    (mouseup)="mouseUpHandler()"
    (mousemove)="dragHandler($event)"
    (scroll)="scrollHandler()"
     class="list">
    
        <li class="card left">
            <article class="movie"></article>
        </li>
        <li class="card active">
            <article class="book"></article>
        </li>
        <li  class="card right">
            <article class="music"></article>
        </li>
      
    </ul>
    </section>
</main>

