@import "../../vars.scss";
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
  user-select: none;
  &.movie {
    background-image: url("../../assets/movie.jpg");
  }
  &.book {
    background-image: url("../../assets/book.png");
  }
  &.music {
    background-image: url("../../assets/music.jpg");
  }
  section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    background: $wrapper;
    @include mobile {
      width: 100%;
      height: 100%;
    }
    ul {
      display: flex;
      flex-flow: row nowrap;
      flex: none;
      overflow-x: auto;
      &.pause {
        overflow: hidden;
      }
      width: 100%;
      height: 100%;
      list-style: none;
      @include desktop {
        padding: 10% 20%;
      }
      &::-webkit-scrollbar {
        display: none;
      }
      .card {
        align-self: center;
        flex: none;
        height: 70%;
        width: 50%;
        position: relative;
        @include desktop {
          height: 100%;
        }
        @include mobile {
          width: 70%;
        }
        &.active {
          z-index: 9999;
          order: 2;
          article {
            opacity: 1;
            box-shadow: 0 0 0 3px $border;
            transform: scale(1);
          }
        }
        &.left {
          order: 1;
          @include mobile {
            left: 7%;
          }
        }
        &.right {
          order: 3;
          @include mobile {
            left: -7%;
          }
        }
        article {
          opacity: 0.5;
          position: absolute;
          transform: scale(0.7);
          width: 100%;
          height: 100%;
          background-size: cover;
          transition: 0.2s;
          background-position: center;
          @include desktop {
            cursor: pointer;
          }
          &.movie {
            background-image: url("../../assets/movie.jpg");
          }
          &.book {
            background-image: url("../../assets/book.png");
          }
          &.music {
            background-image: url("../../assets/music.jpg");
          }
        }
      }
    }
  }
}
